<header class="flex flex-row justify-between items-center py-4 px-16 h-24">
  <div
    class="h-20 w-20 rounded-full bg-white flex flex-col items-center justify-center"
  >
    <img class="h-12 w-auto" src="logo.png" alt="Logo dashboard" />
  </div>
  <div>
    <ul class="flex flex-row items-center justify-around gap-x-4">
      <li class="text-slate-700 font-bold text-lg hover:underline">
        <a href="">Home</a>
      </li>
      <li class="text-slate-700 font-bold text-lg hover:underline">
        <a href="">Management</a>
      </li>
      <li>
        <button
          class="bg-purple-800 hover:bg-purple-700 px-8 py-2 text-white text-sm transition-all ease-in duration-200 rounded-sm cursor-pointer"
          type="button"
          appButton
          appSafeLink
        >
          Logout
          <span ngProjectAs="icon">&#x2192;</span>
        </button>
      </li>
    </ul>
  </div>
</header>
