<article
  class="bg-[#59555f] text-[#ded8e6] rounded-md shadow-md w-full overflow-hidden break-words"
>
  <div
    class="flex flex-row w-full justify-between items-center gap-x-2 px-2 py-1 text-sm"
  >
    <div
      class="size-3 rounded-full"
      [class]="{
        'bg-[#de62e9]': data().status === 'open',
        'bg-[#51c788]': data().status === 'closed'
      }"
    ></div>
    <button class="flex justify-between grow" (click)="onToggleDetails()">
      <span class="text-base">{{ data().title }}</span>
      <span>
        @if (detailsVisible()) {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-3"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m19.5 8.25-7.5 7.5-7.5-7.5"
          />
        </svg>

        } @else {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-3"
        >
          <path
            fill-rule="evenodd"
            d="M11.47 7.72a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12 9.31l-6.97 6.97a.75.75 0 0 1-1.06-1.06l7.5-7.5Z"
            clip-rule="evenodd"
          />
        </svg>
        }
      </span>
    </button>
  </div>

  @if (detailsVisible()) {
  <div class="text-sm p-2">{{ data().request }}</div>

  @if (data().status === 'open') {
  <div>
    <button
      (click)="onClose()"
      type="button"
      class="text-sm w-full h-4 rounded-md cursor-pointer hover:text-white"
    >
      Mark as completed
    </button>
  </div>
  } }
</article>
